<div class="container">
  <!--lägg till gulp direkt i visual studio genom npm install en mapp över ClientApp och sen taskrunner i visual studio-->
  <div class="row">
    <div class="col-sm-10">
      <h2>Användare</h2>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-light btn-outline-secondary">
        Lägg till ny
      </button>
    </div>
  </div>
  <h6>Fritextsökning</h6>
  <div class="row justify-content-lg-start">
    <div class="col-sm-4">
      <input class="form-control" placeholder="fritext filter" />
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-light btn-outline-secondary">
        Filtrera
      </button>
    </div>
  </div>

  <div id="table" class="row justify-content-center">
    <!-- kunder -->
    <div id="tableHeader" class="col-sm-12">
      <h3>Användare</h3>
    </div>
    <div class="col-sm-4">
      <h6>Namn</h6>
    </div>
    <div class="col-sm-2">
      <h6>Kontor</h6>
    </div>
    <div class="col-sm-2">
      <h6>Avdelning</h6>
    </div>
    <div class="col-sm-3">
      <h6>Tjänstgöringsgrad</h6>
    </div>
    <div class="col-sm-1">
      <h6>Aktiv</h6>
    </div>

    <ul class="row" *ngFor="let item of assigneeList; let i = index">
      <li class="col-sm-4">
        <!--filtrerade uppdrag-->
        <span>{{item}}</span>
      </li>
      <li class="col-sm-2">
        <span id="office">Eskilstuna</span>
      </li>
      <li class="col-sm-2">
        <span id="department">Redovisning</span>
      </li>
      <li class="col-sm-3">
        <span id="percentageoffull-timeemployment">100%</span>
      </li>
      <li class="col-sm-1">
        <span id="active">Ja</span>
      </li>
    </ul>
  </div>
</div>

